language: php

sudo: false

php:
  - 7.2
  - 7.3
  - 7.4

cache:
  directories:
    - $HOME/.composer/cache/files
    - $HOME/.sonar/cache

addons:
  sonarcloud:
    organization: uuf6429-github
    token: $SONAR_TOKEN

install:
  - git fetch --unshallow
  - composer remove "friendsofphp/php-cs-fixer" --dev --no-interaction
  - composer install --no-scripts --no-progress --no-interaction

script:
  - |
    ./vendor/bin/phpunit \
      --log-junit junit.xml \
      --coverage-clover clover.xml \
      --configuration phpunit.xml.dist
  - |
    sonar-scanner \
      "-Dsonar.projectVersion=$(git describe --tags)_PHP-$TRAVIS_PHP_VERSION" \
      "-Dsonar.projectKey=Rune" \
      "-Dsonar.projectName=Rune" \
      "-Dsonar.projectKey=Rune" \
      "-Dsonar.php.tests.reportPath=junit.xml" \
      "-Dsonar.php.coverage.reportPaths=clover.xml" \
      "-Dsonar.sources=src" \
      "-Dsonar.tests=test" \
    || true
